<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SimpleSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53938/Code/Simple.asmx" binding="basicHttpBinding"
                bindingConfiguration="SimpleSoap" contract="SimpleSoapService.SimpleSoap"
                name="SimpleSoap" />
        </client>
    </system.serviceModel>
</configuration>