<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpModules>
          <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      </httpModules>
      <httpHandlers>
        <add verb="GET" path="*.msu" type="ws_lab_01.App_Code.GetHandlerMSU"/>
        <add verb="POST" path="*.msu" type="ws_lab_01.App_Code.PostHandlerMSU"/>
        <add verb="PUT" path="*.msu" type="ws_lab_01.App_Code.PutHandlerMSU"/>
        <add verb="DELETE" path="*.msu" type="ws_lab_01.App_Code.DeleteHandlerMSU"/>
      </httpHandlers>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules>
            <remove name="ApplicationInsightsWebTracking" />
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
        </modules>
        <handlers>
          <remove name="WebDAV"/>
          <add verb="GET" path="*.msu" name="Get" type="ws_lab_01.App_Code.GetHandlerMSU"/>
          <add verb="POST" path="*.msu" name="Post" type="ws_lab_01.App_Code.PostHandlerMSU"/>
          <add verb="PUT" path="*.msu" name="Put" type="ws_lab_01.App_Code.PutHandlerMSU"/>
          <add verb="DELETE" path="*.msu" name="Delete" type="ws_lab_01.App_Code.DeleteHandlerMSU"/>
        </handlers>
    </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
